@model List<Category>
@{
    var imageCount = 0;
}
<section class="cartegory-slider section-padding bg-section-2">
    <div class="container">
        <div class="text-center pb-3">
            <h3 class="mb-0 h3 fw-bold">Kategoriler</h3>
            <p class="mb-0 text-capitalize">Select your favorite categories and purchase</p>
        </div>
        <div class="cartegory-box">
            @foreach (var category in Model)
            {
                imageCount++;
                <a asp-action="CategoryWithProducts" asp-route-id="@category.Id">
                    <div class="card">
                        <div class="card-body">
                            <div class="overflow-hidden">
                                <img src="~/home_assets/images/categories/@($"{imageCount:00}.webp")"
                                    class="card-img-top rounded-0" alt="...">
                            </div>
                            <div class="text-center">
                                <h5 class="mb-1 cartegory-name mt-3 fw-bold">@category.Name</h5>
                                @* <h6 class="mb-0 product-number fw-bold">@category.Products.Count</h6> *@
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</section>