<div class="section-menu-left">
    <div class="box-logo">
        <a asp-action="Index" id="site-logo-inner">
            <img class="" id="logo_header" alt="" src="~/admin_assets/images/logo/logo.png"
                data-light="~/admin_assets/images/logo/logo.png" data-dark="~/admin_assets/images/logo/logo-dark.png">
        </a>
        <div class="button-show-hide">
            <i class="icon-menu-left"></i>
        </div>
    </div>
    <div class="center">
        <div class="center-item">
            <div class="center-heading">Main Home</div>
            <ul class="menu-list">
                <li class="menu-item has-children active">
                    <a href="javascript:void(0);" class="menu-item-button">
                        <div class="icon"><i class="icon-grid"></i></div>
                        <div class="text">Ana Sayfa</div>
                    </a>

                </li>
            </ul>
        </div>
        <div class="center-item">
            <div class="center-heading">All page</div>
            <ul class="menu-list">
                <li class="menu-item has-children">
                    <a href="javascript:void(0);" class="menu-item-button">
                        <div class="icon"><i class="icon-shopping-cart"></i></div>
                        <div class="text">Ürünler</div>
                    </a>
                    <ul class="sub-menu">
                        <li class="sub-menu-item">
                            <a asp-action="Products" class="">
                                <div class="text">Ürünler</div>
                            </a>
                        </li>
                        <li class="sub-menu-item">
                            <a asp-action="AddProduct" class="">
                                <div class="text">Ürün Ekle</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item has-children">
                    <a href="javascript:void(0);" class="menu-item-button">
                        <div class="icon"><i class="icon-layers"></i></div>
                        <div class="text">Kategori</div>
                    </a>
                    <ul class="sub-menu">
                        <li class="sub-menu-item">
                            <a asp-action="Categories" class="">
                                <div class="text">Kategoriler</div>
                            </a>
                        </li>
                        <li class="sub-menu-item">
                            <a asp-action="AddCategory" class="">
                                <div class="text">Kategori Ekle</div>
                            </a>
                        </li>
                        <li class="sub-menu-item">
                            <a asp-action="AltCategories" class="">
                                <div class="text">Alt Kategoriler</div>
                            </a>
                        </li>
                        <li class="sub-menu-item">
                            <a asp-action="AddAltCategory" class="">
                                <div class="text">Alt Kategori Ekle</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item has-children">
                    <a href="javascript:void(0);" class="menu-item-button">
                        <div class="icon"><i class="icon-file-plus"></i></div>
                        <div class="text">Sipariş</div>
                    </a>
                    <ul class="sub-menu">
                        <li class="sub-menu-item">
                            <a asp-action="CargoPendingOrders" class="">
                                <div class="text">Bekleyen Siparişler</div>
                            </a>
                        </li>
                        <li class="sub-menu-item">
                            <a asp-action="ShippedOrders" class="">
                                <div class="text">Kargoda Olanlar</div>
                            </a>
                        </li>
                        <li class="sub-menu-item">
                            <a asp-action="DeliveredOrders" class="">
                                <div class="text">Tamamlanmış Siparişler</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item has-children">
                    <a href="javascript:void(0);" class="menu-item-button">
                        <div class="icon"><i class="icon-edit"></i></div>
                        <div class="text">Blog</div>
                    </a>
                    <ul class="sub-menu">
                        <li class="sub-menu-item">
                            <a asp-action="Blogs" class="">
                                <div class="text">Bloglar</div>
                            </a>
                        </li>
                        <li class="sub-menu-item">
                            <a asp-action="AddBlog" class="">
                                <div class="text">Blog Oluştur</div>
                            </a>
                        </li>
                        <li class="sub-menu-item">
                            <a asp-action="BlogCategories" class="">
                                <div class="text">Blog Kategorileri</div>
                            </a>
                        </li>
                        <li class="sub-menu-item">
                            <a asp-action="AddBlogCategory" class="">
                                <div class="text">Blog Kategorisi Oluştur</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item has-children">
                    <a href="javascript:void(0);" class="menu-item-button">
                        <div class="icon"><i class="icon-user"></i></div>
                        <div class="text">User</div>
                    </a>
                    <ul class="sub-menu">
                        <li class="sub-menu-item">
                            <a href="all-user.html" class="">
                                <div class="text">All user</div>
                            </a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="add-new-user.html" class="">
                                <div class="text">Add new user</div>
                            </a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="login.html" class="">
                                <div class="text">Login</div>
                            </a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="sign-up.html" class="">
                                <div class="text">Sign up</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item has-children">
                    <a href="javascript:void(0);" class="menu-item-button">
                        <div class="icon"><i class="icon-user-plus"></i></div>
                        <div class="text">Roles</div>
                    </a>
                    <ul class="sub-menu">
                        <li class="sub-menu-item">
                            <a href="all-roles.html" class="">
                                <div class="text">All roles</div>
                            </a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="create-role.html" class="">
                                <div class="text">Create role</div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>